body{
    font-family: 'Encode Sans', sans-serif;
}

header{

    width: 1250px;
    height: 80px;
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}