body{
    font-family: 'Encode Sans', sans-serif;
}
/*cabeçalho*/
header{

    width: 1250px;
    height: 80px;
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*menu de links*/
.links{
    width: 1250px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    font-size: 19px;
    font-weight: 700;
}

a:link {
    text-decoration: none;
}

.g1{
    color: #C3170C;
}

.oglobo{
    color: #1E4B9B;
}

.valor{
    color: #006766;
}

.ge{
    color: #07AA47;
}

.cartola{
    color: #E3662B;
}

.globoplay{
    color: #FB0735;
}

.dropz{
    color: #FF75BB;
}

.gshow{
    color: #EC7D00;
}

.quem{
    color: #323333;
}

.receitas{
    color: #A81D83;
}

/*guarda o conteudo da nossa página*/
.conteiner{
    width: 1250px;
    height: 1080px;
    display: flex;
    margin: auto;
}

.materiaDaEsquerda{
    width: 50%;
}

.materiaPrincipal{
    color: #C4160C;
    font-size: 52px;
    font-weight: 700;
    line-height: 67px;
    margin-bottom: 29px
}

.materiaSecundaria{
    color: #303134;
    font-size: 18px;
    font-weight: 500;
    margin-top: 7px
}

.noticias{
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
}

.guardaNoticia{
    width: 193px;
}

.imagemEsquerda{
    width:  193px;
    height: 118px;
    border-radius: 12px;
}

h1{
    font-size: 14px;
    font-weight: 500;
    margin-top: 11px;
    margin-bottom: 6px;
}

h2{
    font-size: 20px;
    font-weight: 700;
    color: #2F3134;
    margin-bottom: 6px;
}

h3{
    font-size: 14px;
    font-weight: 400px;
    color: #2F3134;
}

.titulo1{
    color: #C4170C;
}

.titulo2{
    color: #16AE54;
}

.materiaDaDireita{
    width: 50%;
    height: 1080px;
    /*display: flex;
    justify-content: space-around;
    background-color: lightblue;*/
}

.guardaNoticiaDireita{
    width: 240px;
}

.separador{
    margin: 36px 0px;
}

.imagemDireita{
    width: 240px;
    height: 128px;
    border-radius: 12px;
}